#!/usr/bin/env bash

if ! command -v go >/dev/null; then
  echo "You must install Go in order to build or contribute to this project. See https://go.dev/dl/ or use your favourite package manager."
  return
fi

source ./scripts/setup_toolshare.sh
unset setup_toolshare
